/*
Theme Name: Tp Modelisme
Author: Koko
Description: Template WordPress pour l'ERN2019 TP
Version: 0.0.1
Text Domain: ern2019
Tags: bootstrap 4, fontawesomme 5
*/

.site-info {
	display: flex;
	width: 100%;
	justify-content: column;
}
.plan, .aboutus, .contact {
	width: 33%;
}
