.clear-day, .clear-night, .rain, .snow,
.sleet, .wind, .fog, .cloudy, .partly-cloudy-night, .partly-cloudy-day{
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 150px;
    height: 150px;
}

.clear-day {
    background-image: url("../images/clear-day.png");
}
.clear-night {
    background-image: url("../images/clear-night.png");
}
.rain {
    background-image: url("../images/rain.png");
}
.snow {
    background-image: url("../images/snow.png");
}
.sleet {
    background-image: url("../images/sleet.png");
}
.wind {
    background-image: url("../images/wind.png");
}
.fog {
    background-image: url("../images/fog.png");
}
.cloudy {
    background-image: url("../images/cloudy.png");
}
.partly-cloudy-day {
    background-image: url("../images/partly-cloudy-day.png");
}
.partly-cloudy-night {
    background-image: url("../images/partly-cloudy-night.png");
}
.meteo_wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
